argcomplete==3.1.4
attrs==23.2.0
autokey==0.95.10
Babel==2.10.3
bcc==0.29.1
beautifulsoup4==4.12.3
blinker==1.7.0
Brlapi==0.8.5
Brotli==1.1.0
certifi>=2024.07.04
chardet==5.2.0
click==8.1.6
cloud-init==24.3.1
colorama==0.4.6
command-not-found==0.3
configobj>=5.0.9
cryptography>=43.0.1
cssselect==1.2.0
cupshelpers==1.0
dbus-python==1.3.2
defer==1.0.6
distro==1.9.0
distro-info==1.7+build1
evdev==1.7.0
exceptiongroup==1.2.0
gbinder-python==1.1.2
gpg==1.18.0
grapejuice @ file:///builds/brinkervii/grapejuice
h11==0.14.0
html5lib==1.1
httplib2==0.20.4
idna>=3.7
isodate==0.6.1
jinja2>=3.1.5
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
louis==3.29.0
lxml==5.2.1
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mcomix==3.0.0
mdurl==0.1.2
meson==1.3.2
mutagen==1.46.0
netaddr==0.8.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
outcome==1.2.0
packaging==24.0
pexpect==4.9.0
pillow>=10.3.0
pipx==1.4.3
platformdirs==4.2.0
protobuf==4.21.12
protontricks==1.10.5
psutil==5.9.8
ptyprocess==0.7.0
pyasyncore==1.0.2
pycairo==1.25.1
pycountry==23.12.11
pycryptodomex==3.20.0
pycups==2.0.1
pydantic==1.10.14
Pygments==2.17.2
PyGObject==3.48.2
pyinotify==0.9.6
PyJWT==2.7.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrsistent==0.20.0
pyserial==3.5
PySocks==1.7.1
python-apt==2.7.7+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-magic==0.4.27
python-xlib==0.33
pytz==2024.1
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0.1
requests>=2.32.0
rich==13.7.1
SCons==4.5.2
screen-resolution-extra==0.0.0
setproctitle==1.3.3
setuptools>=70.0.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
speedtest-cli==2.1.3
ssh-import-id==5.11
streamlink==6.6.2
systemd-python==235
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
Unidecode==1.3.8
urllib3>=2.2.2
urwid==2.6.10
userpath==1.9.1
vboxapi==1.0
vdf==3.4
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.4
wheel==0.42.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
youtube-dl==2020.3.24
